{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clickshop интернет магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    </head>
    <body>
        <header class="header">
            <div class="header_spam_menu">
                <a href="#" class="promo_header no_underlining">
                    <img src="#" alt="блок со спамом">
                </a>
            </div>
            <div class="header_content_menu">
                <div class="header_main_menu">
                    <img src="{% static "deps\images\logo_clickshop.png" %}" alt="header_logo">
                <ul class="header_main_list">
                    <li><a class="no_underlining" href="#">О нас </a> </li>
                    <li><a class="no_underlining" href="#">Каталог</a></li>
                    <li><a class="no_underlining" href="#">Акции</a></li>
                    <li><a class="no_underlining" href="#">Контакты</a></li>
                    <li><a class="no_underlining" href="#">Обратная связь</a></li>
                </ul>
                </div>

                <div class="header_secondary_menu">
                    <div class="header_search_menu">
                        <input type="text" class="search_menu" placeholder=" Поиск">
                    </div>
                    <ul class="header_secondary_list">
                        <li><a class="no_underlining" href="#">Войти</a></li>
                        <li><a class="no_underlining" href="#">Корзина</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main class="main_menu">
                <nav class="main_catalog_menu">
                    <ul class="main_product">
                      <li><a class="no_underlining" href="#">Все товары</a></li>
                      <li><a class="no_underlining" href="#">Телефоны</a></li>
                      <li><a class="no_underlining" href="#">Планшеты</a></li>
                      <li><a class="no_underlining" href="#">Ноутбуки</a></li>
                      <li><a class="no_underlining" href="#">Телевизоры</a></li>
                      <li><a class="no_underlining" href="#">Обогреватели</a></li>
                      <li><a class="no_underlining" href="#">Электроные часы</a></li>
                      <li><a class="no_underlining" href="#">Приставки</a></li>
                      <li><a class="no_underlining" href="#">Компьютеры</a></li>
                      <li><a class="no_underlining" href="#">Аксессуары</a></li>
                    </ul>
                  </nav>

                  <div class="main_promotions_manu">
                    <a href="#" class="no_underlining">
                        <img src="#" alt="акции">
                    </a>
                    <a href="#" class="no_underlining">
                        <img src="#" alt="акции">
                    </a>
                    <a href="#" class="no_underlining">
                        <img src="#" alt="акции">
                    </a>
                    <a href="#" class="no_underlining">
                        <img src="#" alt="акции">
                    </a>
                  </div>

                  <div class="anything_else">
                    <p></p>
                  </div>

                  <div>
                    <h1>
                        Заголовок для проверки
                    </h1>
                  </div>
        </main>

        <footer class="footer_menu">
            <div class="footer_block">
                    <div class="footer_item"> 
                        <p class="footer_main_text">Информация</p>
                        <ul class="footer_info_menu">
                            <li><a class="no_underlining" href="#">О компании</a></li> <br>
                            <li><a class="no_underlining" href="#">Правовая информация</a></li> <br>
                            <li><a class="no_underlining" href="#">Контакты</a></li>
                        </ul>
                    </div>

                    <div class="footer_item"> 
                        <p class="footer_main_text">Покупателям</p>
                        <ul class="footer_info_menu">
                            <li><a class="no_underlining" href="#">Способы достаки</a></li> <br>
                            <li><a class="no_underlining" href="#">Акции</a></li> <br>
                            <li><a class="no_underlining" href="#">Условия возврата</a></li> <br>
                            <li><a class="no_underlining" href="#">Поддержка</a></li>
                        </ul>
                    </div>

                    <div class="footer_item"> 
                        <p class="footer_main_text">Обратная связь</p>
                        <ul class="footer_info_menu">
                            <li><a class="no_underlining" href="#">Написать отзыв</a></li> <br>
                            <li><a class="no_underlining" href="#">Как с нами связаться</a></li> <br>
                            <li><a class="no_underlining" href="#">О создателях</a></li>
                        </ul>
                    </div>
            </div>

            <div class="footer_copyright">
                <p>Copyright © by Casha Corner & Ilya WaterF</p>
            </div>
        </footer>
    </body>
</html>